---
layout: default
---

<!-- Post Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1>{{ page.title }}</h1>
                    {% if page.subtitle %}
                    <h2 class="subheading">{{ page.subtitle }}</h2>
                    {% endif %}
                    <span class="meta">Posted by {% if page.author %}{{ page.author }}{% else %}{{ site.title }}{% endif %} on {{ page.date | date: "%B %-d, %Y" }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

				{{ content }}

            </div>
        </div>
        <!-- share widgets -->
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <img src="/img/separator.png" class="img-responsive no-source" style="display: block; margin:auto; margin-top:20px;">
            </div>
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1" style="margin-bottom: 20px; margin-top: 10px;">
                    <div class="g-plusone" data-annotation="inline" data-width="300"></div>
                    <a class="twitter-share-button"
                       href="https://twitter.com/share">
                        Tweet
                    </a>
            </div>
        </div>
        <!-- about the author -->
        <div class="row">
            <a href="/about">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 about-box">
                    <div class="col-lg-2 col-md-2">

                        <p>
                            <img src="/img/wetsuit_pic.png" class="img-circle profile-img no-source">
                        </p>

                    </div>
                    <div class="col-lg-8 col-md-10">

                        <p style="font-size: 16px">
                            <span class="about-title">About the author</span><br>
                            {{ site.brief_about }}
                        </p>

                    </div>
                </div>
            </a>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div id="disqus_thread"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                <ul class="pager">
                    {% if page.previous.url %}
                    <li class="previous">
                        <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">&larr; Previous Post</a>
                    </li>
                    {% endif %}
                    {% if page.next.url %}
                    <li class="next">
                        <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">Next Post &rarr;</a>
                    </li>
                    {% endif %}
                </ul>

            </div>
        </div>
    </div>
</article>

<hr>

<!-- inline js hax for images sources -->
<script>
    document.addEventListener('DOMContentLoaded', function(event) {
        $('img').each(function(i) {
            if ($(this).hasClass('no-source')) return;
            var href = $(this).attr('src');
            var link = document.createElement('a');
            link.href = href;
            var prettyDomain = link.hostname;
            $(link)
                    .text("source: "+prettyDomain)
                    .addClass('pull-right')
                    .css('font-size', '14px')
                    .insertAfter(this);
        });
    })
</script>

<!-- Twitter init -->
<script>
    window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return t;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));
</script>

<!-- FB init -->
<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId      : '{{ site.fbAppId }}',
            xfbml      : true,
            version    : 'v2.3'
        });
    };

    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

<!-- discus init -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'shaharzimmerman';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

<!-- google init -->
<script src="https://apis.google.com/js/platform.js" async defer></script>